// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.pagination {
  float: right;
  * {
    border: 1px solid #333;
    margin: 5px 2px;
    padding: 0px 5px;
  }
}